---
title: Réservez une séance photo - Tatronche
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255, 226, 89,0.8) 0%, rgba(255, 167, 81,0.9) 50%), url('images/home-tatronche.jpg');">
  <div class="banner-content">
    <h1>Freelance, démarquez-vous !</h1>
    <p>Faite une bonne premiére impression</p>
    <a href="https://calendly.com/tatronche/solo/" target="_blank" class="btn btn-info btn-lg">Réservez une séance photo</a>
  </div>
</div>

<div class="wrapper yellow-background" id="why">
  <h2>Pourquoi avoir une professionnelle?</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "images/icone/confiance.svg" %>
        <h3>Inspirer confiance</h3>
        <p>Les profils avec une photo reçoivent en moyenne 21x plus de visites sur Linkedin</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "images/icone/demarquer.svg" %>
        <h3>Vous démarquer</h3>
        <p>Une belle photo de profil professionnelle c'est 5 fois plus de contacts sur Malt</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "images/icone/missions.svg" %>
        <h3>Décrocher plus de mission</h3>
        <p>Augmentez le taux de réponses/ Acceptation/ Contacts.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper white-background" id="realisation">
  <h2>Nos réalisations</h2>
  <div class="container">
    <div class="row">
      <% data.photos.each do |photo| %>
          <div class="col-xs-12 col-sm-3">
            <div class="photo">
              <%= image_tag photo.photo_url %>
            </div>
            <div class="photo-description">
              <h3><%= photo.name %></h3>
              <h4><%= photo.job %></h4>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper yellow-background" id="solution">
  <h2>Un service simple et efficace</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "images/icone/simple.svg" %>
        <h3>Simple</h3>
        <p>Réservez une séance photo en 45 secondes</p>
      </div>
      <div class="col-xs-12 col-sm-4">
         <%= image_tag "images/icone/adapte.svg" %>
         <h3>Rapide</h3>
         <p>Les photos retouchés sont disponible 48h aprés la prise de vue</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "images/icone/authentique.svg" %>
        <h3>Authentique</h3>
        <p>Finis les fond gris tristounet ! Séance photo dans vos locaux.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper white-background" id="exemple">
  <h2>Harmonisez votre image</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>Pour vos profil sociaux professionnels</h3>
        <%= image_tag "images/icone/profil_social_network.png" %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Pour vos CV</h3>
        <%= image_tag "images/icone/cv.png" %>
      </div>
    </div>
  </div>
</div>

<div class="wrapper yellow-background" id="price">
  <div class="container">
    <h2>Notre offre</h2>
    <p>Conçu par des freelances pour des freelances</p>

    <div class="">
      Prix

    </div>
  </div>
</div>
