---
title: Réservez une séance photo - Tatronche
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255, 226, 89,0.1) 0%, rgba(255, 167, 81,0.1) 50%), url('images/home-tatronche.jpg');">
  <div class="banner-content">
    <h1>Freelance, changez de tronche !</h1>
    <p>Faites-vous remarquer avec une photo professionnelle</p>
    <a href="https://calendly.com/tatronche/freelance/" target="_blank" class="btn-blue">Réservez une séance photo</a>
  </div>
</div>

<div class="wrapper white-background" id="why">
  <h2>Pourquoi avoir une photo professionnelle?</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "images/icone/confiance-yellow.svg" %>
        <h3>Inspirer confiance</h3>
        <p>Les profils avec une photo reçoivent en moyenne 21x plus de visites sur Linkedin</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "images/icone/demarquer-yellow.svg" %>
        <h3>Vous démarquer</h3>
        <p>Une belle photo de profil professionnelle c'est 5 fois plus de contacts sur Malt</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "images/icone/mission-yellow.svg" %>
        <h3>Décrocher plus de mission</h3>
        <p>Augmentez le taux de réponses/ Acceptation/ Contacts.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper yellow-background" id="realisation">
  <h2>Nos réalisations</h2>
  <div class="container">
    <div class="row">
      <% data.photos.each do |photo| %>
          <div class="col-xs-12 col-sm-3">
            <div class="photo">
              <%= image_tag photo.photo_url %>
            </div>
            <div class="photo-description">
              <h3><%= photo.name %></h3>
              <h4><%= photo.job %></h4>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper white-background" id="solution">
  <h2>Un service simple et efficace</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "images/icone/simple-yellow.svg" %>
        <h3>Simple</h3>
        <p>Réservez une séance photo en 45 secondes</p>
      </div>
      <div class="col-xs-12 col-sm-4">
         <%= image_tag "images/icone/adapte-yellow.svg" %>
         <h3>Rapide</h3>
         <p>Les photos retouchés sont disponible 48h aprés la prise de vue</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "images/icone/authentique-yellow.svg" %>
        <h3>Authentique</h3>
        <p>Finis les fond gris tristounet ! Séance photo dans vos locaux.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper yellow-background" id="exemple">
  <h2>Harmonisez votre image</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>Pour vos profil sociaux professionnels</h3>
          <%= image_tag "images/photos/all_tatronche.png", id: 'exemple_alexis' %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Pour vos CV</h3>
        <%= image_tag "images/photos/cv-remi.png" %>
      </div>
    </div>
  </div>
</div>

<div class="wrapper white-background" id="price">
  <div class="container">
    <h2>Notre offre</h2>
    <h3>Conçu par des freelances pour des freelances</h3>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="contour-pricing">
          <div class="background-pricing">
            <h2>Freelance</h2>
          </div>
          <div class="pricing-content">
            <h3>50€ <span> / Séance</span></h3>
            <ul>
              <li>Séance d'une heure</li>
              <li>Sélection sur place des photos</li>
              <li>2 photos retouchés</li>
              <li>Livraison par mail en 24h00</li>
            </ul>
            <a href="https://calendly.com/tatronche/freelance/" target="_blank" class="btn-blue">Réservez une séance photo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
